<h1>
<%= @user.username %>
</h1>

<fieldset>
<legend>Your Details</legend>

<p>
 Name: <%= @user.fullname %>
</p>
<p>
 Email: <%= @user.email %>
</p>
<p>
 Phone: <%= @user.phone %>
</p>
<p>
 Address: <%= @user.address %>
</p>
<p>
 Username: <%= @user.username %>
</p>

<p>
  <%= link_to "Edit my details", edit_user_path(current_user) %>
</p>
</fieldset>
<fieldset>
<legend>Your Orders</legend>
<p>
</p>
</fieldset>